 <!DOCTYPE html>                                                                     
<html lang = "en">
<head>
<title>why am i like this</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<h1>why am i like this</h1>
<table class = "table table-striped">
<thead>
<tr>
<th>people</th>
<th>reasons i am like this</th>
</tr>
</thead>
<tbody>
{% for r in reasons %}
<tr>
<td>{{r[0]}} </td>
<td>{{r[1]}} </td>
</tr>
{% endfor %}
</tbody>
</table>
</body>
</html>
